.logement__wrap {
  display: flex;
  width: auto;
  color: $primary-color;
  justify-content: space-between ;
  &__headers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

}

.logement__title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 5px;
}

.logement__location {
  font-size: 18px;
  margin-bottom: 10px;
}

.logement__host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;

  &__name {
    margin-right: 5px;
    font-size: 18px;
    text-align: right;
    line-height: 24px;
    overflow-wrap: break-word;
  }
  &__picture {
    border-radius: 50%;
    height: 65px;
    width: 65px;
  }
}
.logement__rating {
  display: flex;
  font-size: 42px;
  margin: 0;
  gap: 2px;
}

.logement__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 0 40px 0;
  height: 100%;

  & .dropdown {
    max-width: 580px;

    &__title {
      border-radius: 10px;
      font-size: 20px;
    }
    .content {
      font-size: 20px;
    }
  }
}


@media (max-width: 767px) {

  .logement__content  {
    flex-direction: column;
  }

  .logement__wrap {
    flex-direction: column;

  }
  .logement__wrap2 {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .logement__wrap__headers{

    padding-bottom: 20px;
  }


}
