.star {
    color: $primary-color;
    &--empty {
        color:$secondary-color;
    }
}

@media (max-width: 767px) {
    .star{
        font-size: 30px;
        &--empty {
            font-size: 30px;
        }
    }
}